.tracel_translate_a{ float: left; text-align: left; height:239px;}
.tracel_translate_a_a>div{ float: left; font-size: 14px; font-family: "黑体"; margin-right: 10px;}
.tracel_translate_a_a div span{ margin-left: 2px;}
.tracel_translate_a_a{ font-size: 14px; font-family: "黑体"; line-height: 33px;}
.tracel_translate_a_b{ font-size: 14px; font-family: "黑体"; line-height: 33px;}
.tracel_translate_a_c{ font-size: 14px; font-family: "黑体"; line-height: 33px;}
.tracel_translate_a_d{ font-size: 14px; font-family: "黑体"; line-height: 33px;}
.tracel_translate_a_e{ font-size: 14px; font-family: "黑体"; line-height: 33px;}
.tracel_translate_a_f{ font-size: 14px; font-family: "黑体"; line-height: 33px;}
.tracel_translate_a_g{ font-size: 14px; font-family: "黑体"; line-height: 33px;}
.tracel_translate_a_b>span:first-child{ color: #999999; margin-right: 20px; font-size: 14px;}
.tracel_translate_a_c>span{ color: #999999; font-size: 14px;}
.tracel_translate_a_d>span{ color: #999999; font-size: 14px;}
.tracel_translate_a_e>span{ color: #999999; font-size: 14px;}
.tracel_translate_a_f>span{ color: #999999; font-size: 14px;}
.tracel_translate_a_g>span{ color: #999999; font-size: 14px;}
.tracel_translate_b{  text-align: right;}
.tracel_translate_b_a_a{ text-align: right; line-height: 33px;}
.tracel_translate_b_a_b{ text-align: right; line-height: 33px;}
.tracel_translate_b_a_b>span{ margin-left: 2px;}
.travel_group_header_right_b_a_b_hide{ }
.travel_group_header_right_b_a_b{ margin-top: 26px; text-align: center;}
.travel_group_header_right_b_slfw{ background: #eff8ff; height: 80px; width: 680px; line-height: 20px; padding: 8px 14px 0 10px; margin-top: 10px; text-align: left;}


.travel_group_header_left_calendar{ background: #eff8ff; height: 80px; width: 516px; line-height: 20px; padding: 8px 14px 0 10px; margin-top: 10px; text-align: left;}

.travel_group_content_all_a_c{ margin-bottom: 22px; }
.travel_translate_a_a_xuhao{ float: left;}
.travel_translate_a_a_neirong{ float: left;}
.travel_translate_a{ background: url(../images/xiangxiajiantou_03.png) no-repeat center 14px ; display: block; width: 39px; height: 44px; text-align: center; line-height: 29px;color: #97c5ff; font-family: "黑体"; margin: 0 0 0 50px; padding-top: 12px;}
.travel_translate_b{ float: left; margin-right: 57px; margin-left: 28px; line-height: 56px;}
.travel_translate_c{ float: left; line-height: 20px;  line-height: 20px;margin-top: 8px; width: 869px; margin-bottom: 8px;}
.travel_translate_a_a{ color: #656565; font-family: "黑体"; font-size: 14px; margin-bottom: 5px;}

.qianzhengcailiao{ width: 1145px; margin: 0 auto;}
.travel_translate_qz_a{ width: 1145px; position: relative;}
.travel_translate_qz_a_a>span{ text-align: center; width: 92px; height: 50px; display: block; border-top: 2px #dddddd solid; border-left: 2px #dddddd solid; border-bottom: 2px #dddddd solid; border-radius: 9px 0 0 9px; margin-bottom: 10px; cursor:pointer;}
.travel_translate_qz_a_a>span:hover{ border-top: 2px #88bdff solid; border-left: 2px #88bdff solid; border-bottom: 2px #88bdff solid; color: #88bdff;} 
/*.travel_translate_qz_a_a{ color: #88bdff; border-top: 2px #88bdff solid !important; border-left: 2px #88bdff solid !important; border-bottom: 2px #88bdff solid !important;}
.travel_translate_qz_a ul{ float: left;}*/
.t_te_qaa{ color: #88bdff; border-top: 2px #88bdff solid !important; border-left: 2px #88bdff solid !important; border-bottom: 2px #88bdff solid !important;}
.travel_translate_qz_b_b{ max-width: 1048px; max-height:308px; float: left; border:2px #DDDDDD solid; display: block;}
.travel_translate_qz_b_b_a{ width:1000px; height:272px;overflow: auto; display: none; padding: 17px 20px; overflow:auto; line-height: 24px; display: none; position: absolute;left: 94px; top: 0; border:2px #DDDDDD solid;}
.travel_translate_qz_b_b_a_a{display: block;}
.travel_translate_qz_b_b_b{ display: none; width:1000px; height:272px;overflow: auto; display: none; padding: 17px 20px; overflow:auto; line-height: 24px; display: none; position: absolute;left: 94px; top: 0; border:2px #DDDDDD solid;}
.travel_translate_qz_c{ float: right;}

.travel_translate_qz_c_a{ float: left; color: #000000; margin-right: 23px;}
.travel_translate_qz_c_b{ float: left;}
.travel_translate_qz_c_c{ float: left;margin-right: 20px;}
.travel_translate_qz_c_d{ float: left;margin-right: 20px;}
.travel_translate_qz_c_e{ float: left;margin-right: 20px;}
.travel_translate_qz_c_f{ float: left;margin-right: 20px;}
.travel_translate_qz_c_g{ float: left;margin-right: 20px; }
.travel_translate_qz_c_b a{ margin-right: 23px; color: #418eff;}
.travel_translate_qz_c_c a{  color: #418eff;}
.travel_translate_qz_c_d a{  color: #418eff;}
.travel_translate_qz_c_e a{  color: #418eff;}
.travel_translate_qz_c_f a{  color: #418eff;}
.travel_translate_qz_c_g a{  color: #418eff;}
.travel_translate_qz_c_a_b{ float: left;}
.aaa{}
.bbb{ display: none;}
.ccc{ display: none;}
.ddd{ display: none;}
.eee{ display: none;}

